<div class="bannerimg">
  <div id="header" class="vcenter">
    <h1 id="blog" class="text-center">
      <font color="#ffffff">Where shit happens</font>
    </h1>
  </div>
</div>
<br>
<div id="page_wrapper" class="container">
    <div class="row">
      <%= render 'form' %>
    </div>
  </div>
