 /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require trix
 *= require font-awesome
 *= require social-share-button
 *= require_tree .
 *= require_self
 */
 @import 'normalize'; //resets all browsers
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "smallscreen" only screen and (max-width: 480px);
 @import "font-awesome";

 /***********************    html elements    ***********************/
 html, body{
 	margin:0;
 	padding:0;
 	height:100%;
 }



  /***********************    html classes   *************************/
.logo{
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
}
.main-content{
  display: table;
  width: 100%;
  height: 100%;
}
// .vcenter{  //aligns the blog text at the vertical center
//   display: inline-block;
//   vertical-align: middle;
// }
.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.bannerimg{
  height: 400px;
  width: 100%;
  background: image-url('bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  position: relative;
  font-family: "Roboto Slab";
  margin-top: -20px;
}
.showbannerimg{
  height: 400px;
  width: 100%;
  background: image-url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  position:absolute;
  font-family: "Roboto Slab";
  margin-bottom: 20px;
}
.avatar{
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: image-url('avatar.jpg');
  background-size: cover;
}
//the dark shade above the background image
.overlay{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
.overlayover{
  width: 100%;
  height: 100%;
  z-index: 3;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQIW2NkYGD4z8DAwMgABXAGNgGwSgwVAFbmAgXxvZSoAAAAAElFTkSuQmCC) repeat;
}
.titletext{
  color: #ffffff;
}
.minitext{
  font-size: 6px;
}
.showcontent{
  background-color: #f5f5f5;
}
.posttitle{
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  font-family: "Roboto Slab";
}
.postcontent{
  margin-top: 400px;
  p {
    text-align: center;
  }
}
.show-image{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.postbody{//for postbody in show page
  font-family: "Roboto Slab";
  line-height: 2;
}
.post-content{
  padding-left: 20%;
  margin-bottom: 10px;
  a:link{
    text-decoration: none;
    color: #000000;
  }
  a:visited{
    text-decoration: none;
  }
  a:hover{
    color: #03A9F4;
  }
}
.post-title{//in index page
  font-family: "Roboto Slab";
  font-weight: bold;
  font-size: 36px;
}
.post-subtitle{
  font-family: "Roboto Slab";
}
.post-time{
  color: gray;
  font-size: 18px;
  font-style: italic;
  margin-top: 0;

}
.tagtitletext{
  text-align:left;
  color: #000000;
  vertical-align: middle;
  font-family: "Roboto Slab";
}
.homelink{
  background-color: #ffffff;
  color: #000000;
  margin-left: 10px;
  border: 2px solid white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: "Roboto Slab";

}
/***********************    social icons   *************************/


.social-share-button-facebook {
    display: inline-block;
    width: 48px;
    height: 48px;
    background: image-url("social-share-button/facebook.png") no-repeat;
}
.social-share-button-twitter {
    display: inline-block;
    width: 48px;
    height: 48px;
    background: image-url("social-share-button/twitter.png") no-repeat;

}
.social-share-button-google_plus {
    display: inline-block;
    width: 48px;
    height: 48px;
    background: image-url("social-share-button/google_plus.png") no-repeat;
}


  /***********************    html ids   *************************/
// #header{
//   height: inherit;
//   width: inherit;
//   top: 0;
//   left: 0;
//   z-index: 1;
//   position: absolute;
// }
#searchandcontent{
  margin-top: 10px;
  height: auto;
}
#page_wrapper {
  padding: 3em;
  #content {
    h1 {
      font-weight: 500;
    }
    p {
      font-size: 1.1em;
      line-height: 1.75;
    }
    a {
      color: #33acb7;
      font-weight: 700;
      text-decoration: none;
    }
  }
}

#footer{
  width: 100% !important;
  height: 70px;
  background: #777;
  position: relative;

}

#footer p{
  padding-top: 15px;
  padding-left: 15px;
}
#footer i{
  padding: 15px;
}
  /*********************** for small screens ********************/
