/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require trix
 *= require social-share-button
 *= require_tree .
 *= require_self
 */
 @import 'normalize'; //resets all browsers
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "smallscreen" only screen and (max-width: 480px);



/***** custom font ***************/
@font-face{
  font-family: 'Merriweather', serif;
  font-weight: normal;
  font-style: normal;
  src: url();
}

 /***********************    html elements    ***********************/



  /***********************    html classes   *************************/
  .logo{
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
}
.vcenter{  //aligns the blog text at the vertical center
  display: inline-block;
  vertical-align: middle;
}
.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}


  /***********************    html ids   *************************/
#bannerimg{
  height: 400px;
  width: 100%;
  background: url("/assets/typewriter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  font-family: 'Merriweather';
}
#header{
  height: inherit;
  width: inherit;
  top: 0;
  left: 0;
  z-index: 10;
  position: absolute;
}
#rowbutton{
  width: 100%;
  margin:0 auto;
}
