 /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require trix
 *= require font-awesome
 *= require social-share-button
 *= require_tree .
 *= require_self
 */
 @import 'normalize'; //resets all browsers
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "smallscreen" only screen and (max-width: 480px);
 @import "font-awesome";

$black-color: 000000;
/***** custom font ***************/
// @font-face{
//   font-family: "merriweather";
//   src: url(font-path('merriweather-regular-webfont.woff')) format('woff');
//   src: url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,300italic,600italic|Merriweather:300,600");
//   font-weight: normal;
//   font-style: normal;
// }

 /***********************    html elements    ***********************/
 html, body{
 	margin:0;
 	padding:0;
 	height:100%;
 }



  /***********************    html classes   *************************/
.logo{
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
}
.main-content{
  min-height: 100%;
}
.vcenter{  //aligns the blog text at the vertical center
  display: inline-block;
  vertical-align: middle;
}
.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.bannerimg{
  height: 400px;
  width: 100%;
  background: image-url('bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  position: relative;
  font-family: "Roboto Slab";
}
.showbannerimg{
  height: 400px;
  width: 100%;
  background: image-url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  position:absolute;
  font-family: "Roboto Slab";
  margin-bottom: 20px;
}
.avatar{
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: image-url('avatar.png');
  background-size: cover;
}
//the dark shade above the background image
.overlay{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
.overlayover{
  width: 100%;
  height: 100%;
  z-index: 3;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQIW2NkYGD4z8DAwMgABXAGNgGwSgwVAFbmAgXxvZSoAAAAAElFTkSuQmCC) repeat;
}
.titletext{
  color: #ffffff;
}
.minitext{
  font-size: 6px;
}
.showcontent{
  background-color: #f5f5f5;
}
.posttitle{
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  font-family: "Roboto Slab";
}
.postcontent{
  margin-top: 400px;
}
.postcontent p{
  text-align: center;
}
.show-image{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.postbody{
  font-family: "Roboto Slab";
  line-height: 2;
}


/***********************    social icons   *************************/


.social-share-button-facebook {
    display: inline-block;
    width: 48px;
    height: 48px;
    background: image-url("social-share-button/facebook.png") no-repeat;
}
.social-share-button-twitter {
    display: inline-block;
    width: 48px;
    height: 48px;
    background: image-url("social-share-button/twitter.png") no-repeat;

}
.social-share-button-google_plus {
    display: inline-block;
    width: 48px;
    height: 48px;
    background: image-url("social-share-button/google_plus.png") no-repeat;
}


  /***********************    html ids   *************************/
#wrapper{
  width: 100%;
  margin: 0 auto;
  padding: 0;
  height: auto;
}
#wrapper > div{
  position: relative;
}
#header{
  height: inherit;
  width: inherit;
  top: 0;
  left: 0;
  z-index: 1;
  position: absolute;
}
#searchandcontent{
  height: calc(100vh - 470px);
  min-height: 300px;
}
#rowbutton{
  width: 100%;
  margin:0 auto;
}
#page_wrapper {
  padding: 3em;
  #content {
    h1 {
      font-weight: 500;
    }
    p {
      font-size: 1.1em;
      line-height: 1.75;
    }
    a {
      color: #33acb7;
      font-weight: 700;
      text-decoration: none;
    }
  }
}

#footer{
  width: 100% !important;
  bottom: 0 !important;
  left: 0;
  height: 70px;
  background: #777;
  position: relative;
}

#footer p{
  padding-top: 15px;
  padding-left: 15px;
}
#footer i{
  padding: 15px;
}
