<!DOCTYPE html>
<html>
<head>
  <title>Ian Munene's blog</title>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,300italic,600italic|Merriweather:300,600', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body id="bd">
  <div id="wrapper">

    <!-- modify blog to look like this https://station.locomotive.works/_app/itchy-summer-4354/preview  -->
    <!-- font to use https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,300italic,600italic|Merriweather:300,600 -->
    <!-- background-image: url(https://assets.locomotive.works/sites/56fd1143a2f42217744a812d/theme/images/default-header-bg.jpg?1459425610) -->
    <div class="main-content">
      <%= yield %>

      </div>

    <footer id="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-8 dclearfix">
            <p class="myfont text-center">
              Copyright
              &copy;
              2015 Ian Munene
            </p>
          </div>
        </div>
      </div>
    </footer>
  </div>
</body>
</html>
